<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        
        <div th:fragment="add-button" class="add-button">
            <a th:href="@{/empleados/nuevo}">Agregar</a>
            <i class="fa-solid fa-plus"></i>
        </div>

        <div th:fragment="delete-button" class="delete-button">
            <a th:href="@{/empleados/eliminar/} + ${employee.getIdentification()}">Eliminar</a>
            <i class="fa-solid fa-trash"></i>
        </div>
        

        <div th:fragment="list" class="list">
            <div class="employee header">
                <h3>Nombre:</h3>
                <p>Identificación:</p>
                <p>Correo:</p>
                <p>Activo:</p>
            </div>
            <hr>
            <div th:each="employee : ${employees}" class="employee">
                <h2 th:if="${size} == 0">No existen clientes</h2>
                <div class="employee-basic-information-container">
                    <img th:src="@{${employee.getPhoto().length() == 0 ? 'https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg' : employee.getPhoto()}}" alt="">
                    <a th:href="@{/empleados/actualizar/} + ${employee.getIdentification()}">[[${employee.getName()}]] [[${employee.getFirstSurName()}]] [[${employee.getSecondSurName()}]]</a>
                </div>
                <p>[[${employee.getIdentification()}]]</p>
                <a th:href="@{'mailto:' + ${employee.getEmail()}}">[[${employee.getEmail()}]]</a>
                <p th:text="${employee.isActive()} ? 'Si' : 'No'" />
                <div th:if="${#authentication.principal.identification} != ${employee.getIdentification()}">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{empleados/fragments :: delete-button}"></div>
                </div>
            </div>

        </div>

        <div th:fragment="options" class="employee-options">
            <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{empleados/fragments :: add-button}"></div>
        </div>


        <form th:fragment="form" th:action="@{/empleados/guardar}" th:object="${empleado}" method="POST" class="was-validated form" enctype="multipart/form-data">
            <input type="hidden" name="photo" th:field="*{photo}"/>   
            <input type="hidden" required placeholder="Contraseña" th:field="*{password}">
            <input  type="hidden" placeholder="Username" th:field="*{username}">        
            <h1 th:text="${empleado.identification} != 0 and ${screen} != 'new' ? 'Modificar Empleado' : 'Agregar Empleado'"></h1>
            


            <input th:if="${empleado.identification} == 0" type="number" min="10000000" required placeholder="Identificación" name="identification">
            <p class="errors" th:if="${#fields.errors('identification')}" th:errors="*{identification}" />
            
            <input type="text" placeholder="Nombre" th:field="*{name}">        
            <p class="errors" th:if="${#fields.errors('name')}" th:errors="*{name}" />

            <input th:if="${empleado.identification} == 0" type="text" placeholder="Username" th:field="*{username}">
            <p class="errors" th:if="${#fields.errors('username')}" th:errors="*{username}" />

            <input type="text" placeholder="Primer Apellido" th:field="${empleado.firstSurName}">
            <p class="errors" th:if="${#fields.errors('firstSurName')}" th:errors="*{firstSurName}" />
            
            <input type="text" placeholder="Segundo Apellido" th:field="${empleado.secondSurName}">
            <p class="errors" th:if="${#fields.errors('secondSurName')}" th:errors="*{secondSurName}" />
            
            <input type="email" required placeholder="Correo" th:field="*{email}">          
            <p class="errors" th:if="${#fields.errors('email')}" th:errors="*{email}" />
            
            <input type="text" placeholder="Teléfono" th:field="*{phone}">
            <p class="errors" th:if="${#fields.errors('phone')}" th:errors="*{phone}" />
            
            
            <div th:if="${empleado.identification} == 0" class="container-password">
                <input type="password" required placeholder="Contraseña" th:field="*{password}">
                <i class="eye fa-sharp fa-solid fa-eye-slash" onclick="showEye()"></i>
            </div>

            <input type="text" placeholder="Profesión" th:field="*{profession}">
            <p class="errors" th:if="${#fields.errors('profession')}" th:errors="*{profession}" />
            
            <div class="checkbox">
                <label for="activo">Activo</label>
                <input class="" type="checkbox" name="active" id="activo" th:field="*{active}">
            </div>
            <input type="file" onchange="readURL(this)" name="imagenFile">
            <img id="blah" th:src="*{photo}" height="200">
            <button type="submit" th:text="${empleado.identification} != 0 and ${screen} != 'new' ? 'Modificar' : 'Agregar'"></button>
        </form>
    </body>
</html>
