<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title></title>
    </head>
    <body>
        <section th:fragment="listar" id="id" style="margin-left: 250px; margin-right: 250px;">
            <form th:action="@{/archivos/listar}" method="get">

            </form>
            <br>
            <div class="archivos" style=" margin: 20.05rem 0;">
                <table class="table" style="background-color: lightseagreen">
                    <thead>
                        <tr>
                            <th style="border-bottom: 4px solid gray; color: white" scope="col">ID</th>
                            <th style="border-bottom: 4px solid gray; color: white" scope="col">Nombre de Archivo</th>
                            <th style="border-bottom: 4px solid gray; color: white" scope="col">Fecha</th>
                            <th style="border-bottom: 4px solid gray; color: white" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="archivo : ${archivos}" style="background-color: lightgray">
                            <td th:text="${archivo.id}" style="text-align: center; font-size: 20px;"></td>
                            <td th:text="${archivo.filePath}" style="text-align: center; font-size: 20px;"></td>
                            <td th:text="${archivo.date}" style="text-align: center; font-size: 20px;"></td>
                            <td style="text-align: center;">
                                <a th:href="@{/reportes/stock?tipo=Pdf}" class="btn btn-success btn-sm"><i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>Descargar</a>
                                <a th:href="@{'/archivos/eliminar/' + ${archivo.id}}" class="btn btn-danger btn-sm">Eliminar</a>

                                <img th:if="${archivo.icono}" th:src="${archivo.icono}" alt="Icono del archivo" style="max-width: 60px; max-height: 60px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>