<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title></title>
    </head>
        <body>
            <section th:fragment="listar" id="id" style="margin-left: 250px; margin-right: 250px;">
                <form th:action="@{/archivos/listar}" method="get">
                    <!-- Aquí podrías agregar elementos de entrada o botones para enviar el formulario -->
                </form>
                <br>
                    <div class="archivos">
                        <table class="table" style="background-color: lightseagreen">
                            <thead>
                                <tr>
                                    <th style="border-bottom: 2px solid gray; color: white" scope="col">ID</th>
                                    <th style="border-bottom: 2px solid gray; color: white" scope="col">Nombre de Archivo</th>
                                    <th style="border-bottom: 2px solid gray; color: white" scope="col">Fecha</th>
                                    <th style="border-bottom: 2px solid gray; color: white" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="archivo : ${archivos}" style="background-color: lightgray">
                                    <td th:text="${archivo.id}" style="text-align: center;"></td>
                                    <td th:text="${archivo.filePath}" style="text-align: center;"></td>
                                    <td th:text="${archivo.date}" style="text-align: center;"></td>
                                    <td style="text-align: center;">
                                        <a th:href="@{'/archivos/descargar/' + ${archivo.id}}" class="btn btn-success btn-sm">Descargar</a>
                                        <a th:href="@{'/archivos/eliminar/' + ${archivo.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                                        <a th:href="@{/reportes/stock?tipo=Csv}" class="btn btn-danger">
                                            <i class='fas fa-download'></i><i class='fas fa-file-csv'></i>
                                        </a>
                                        <a th:href="@{/reportes/stock?tipo=Pdf}" class="btn btn-success">
                                            <i class='fas fa-download'></i><i class='fas fa-file-pdf'></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </section>
        </body>
</html>




