<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/fragments :: head}"></head>
    <body>
        <---<!--<header th:replace="~{layout/fragments :: header}"></header>  -->  

        <section  th:replace="~{Archivos/fragmentos :: agregarArchivo} "></section>
        <section th:replace="~{Archivos/fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{Archivos/fragmentos :: listadoArchivos}"></section>
        <section th:replace="~(Archivos/fragmentos :: botoneseliminar}"></section>
         
        <--<!-- <footer th:replace="~{layout/fragments :: footer}"></footer> --> 
    </body>
</html>
