<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        
        <div th:fragment="add-button" class="add-button">
            <a th:href="@{/clientes/nuevo}">Agregar</a>
            <i class="fa-solid fa-plus"></i>
        </div>

        <div th:fragment="delete-button" class="delete-button">
            <a th:href="@{/clientes/eliminar/} + ${client.getIdentification()}">Eliminar</a>
            <i class="fa-solid fa-trash"></i>
        </div>
        

        <div th:fragment="list" class="list">
            <div class="client header">
                <h3>Nombre:</h3>
                <p>Identificación:</p>
                <p>Correo:</p>
                <p>Activo:</p>
            </div>
            <hr>
            <div th:each="client : ${clients}" class="client">
                <h2 th:if="${size == 0}">No existen clientes</h2>
                <div class="client-basic-information-container">
                    <img th:src="@{${client.getPhoto().length() == 0 ? 'https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg' : client.getPhoto()}}" alt="">
                    <a th:href="@{/clientes/actualizar/} + ${client.getIdentification()}">[[${client.getName()}]] [[${client.getFirstSurName()}]] [[${client.getSecondSurName()}]]</a>
                </div>
                <p>[[${client.getIdentification()}]]</p>
                <a th:href="@{'mailto:' + ${client.getEmail()}}">[[${client.getEmail()}]]</a>
                <p th:text="${client.isActive()} ? 'Si' : 'No'" />
                <div th:if="${#authentication.principal.identification} != ${client.getIdentification()}">
                    <div sec:authorize="hasRole('ROLE_AMDIN')" th:replace="~{clientes/fragments :: delete-button}"></div>
                </div>
            </div>

        </div>

        <div th:fragment="options" class="employee-options">
            <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{clientes/fragments :: add-button}"></div>
        </div>


        <form th:fragment="form" th:action="@{/clientes/guardar}" th:object="${cliente}" method="POST" class="was-validated form" enctype="multipart/form-data">
            <input type="hidden" name="photo" th:field="*{photo}"/>   
            <input th:if="${screen} == 'edit'" type="hidden" required placeholder="Contraseña" th:field="*{password}">
            <input th:if="${screen} == 'edit'" type="hidden" min="10000000" required placeholder="Identificación" th:field="*{identification}">
            <input type="hidden" th:if="${screen} == 'edit'" placeholder="Username" th:field="*{username}">
            

            <h1 th:text="${screen} == 'edit' ? 'Modificar Cliente' : 'Agregar Cliente'"></h1>

           
            <input th:if="${screen} != 'edit'" type="number" min="10000000" required placeholder="Identificación" th:field="*{identification}">
            <p class="errors" th:if="${#fields.errors('identification')} and ${screen} != 'edit'" th:errors="*{identification}" />
            
            <input type="text" th:if="${screen} != 'edit'" placeholder="Username" th:field="*{username}">
            <p class="errors" th:if="${#fields.errors('username')}" th:errors="*{username}" />
            
            <input type="text" placeholder="Nombre" th:field="*{name}">        
            <p class="errors" th:if="${#fields.errors('name')}" th:errors="*{name}" />
            
            <input type="text" placeholder="Primer Apellido" th:field="${cliente.firstSurName}">            
            <p class="errors" th:if="${#fields.errors('firstSurName')}" th:errors="*{firstSurName}" />
            
            <input type="text" placeholder="Segundo Apellido" th:field="${cliente.secondSurName}">            
            <p class="errors" th:if="${#fields.errors('secondSurName')}" th:errors="*{secondSurName}" />
            
            <input type="email" required placeholder="Correo" th:field="*{email}">            
            <p class="errors" th:if="${#fields.errors('email')}" th:errors="*{email}" />
            
            <input type="text" placeholder="Teléfono" th:field="*{phone}">
            <p class="errors" th:if="${#fields.errors('phone')}" th:errors="*{phone}" />
            
            <div th:if="${screen} != 'edit'" class="container-password">
                <input type="password" required placeholder="Contraseña" th:field="*{password}">
                <i class="eye fa-sharp fa-solid fa-eye-slash" onclick="showEye()"></i>
            </div>

            <div class="checkbox">
                <label for="activo">Activo</label>
                <input class="" type="checkbox" name="active" id="activo" th:field="*{active}">
            </div>
            <input type="file" onchange="readURL(this)" name="imagenFile">
            <img id="blah" th:src="*{photo}" height="200">
            <button type="submit" th:text="${screen} == 'edit' ? 'Modificar' : 'Agregar'"></button>
        </form>
    </body>
</html>
