<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="~{layout/fragments :: head}"></head>
    <body>
        <header th:replace="~{layout/fragments :: header}"></header>
        <a class="atras" th:href="@{/rendimiento/listar}"><i class="fa-solid fa-left-long"></i></a>
        <div th:replace="~{rendimiento/fragments :: updatePerformance}"></div>

        <footer th:replace="~{layout/fragments :: footer}"></footer>
    </body>
</html>
