<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- class="remove-performance" -->
        <div th:fragment="remove-performance">
            <div id="container">
                <div id="menu-wrap">
                  <input type="checkbox" class="toggler" />
                  <div class="dots">
                    <div></div>
                  </div>
                  <div class="menu">
                    <div>
                      <ul>
                        <li><a style="color:#f00" th:href="@{/rendimiento/eliminar/} + ${performance.getIdentification()}" class="link">Borrar</a><i style="color:#f00" class="fa-solid fa-trash"></i></li>
                        <li><a style="color: #00f" th:href="@{/rendimiento/actualizar/} + ${performance.getIdentification()}" class="link">Editar</a><i style="color: #00f" class="fa-solid fa-pen-to-square"></i></li>
                        <li><a style="color: #B50706" th:href="@{/reportes/rendimiento?tipo=Pdf&identification=} + ${performance.getIdentification()}" class="link">Descargar</a><i style="color: #B50706" class="fa-solid fa-file-pdf"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        </div>

     <div class="performances" th:fragment="performanceList">
        <div th:each="performance : ${performances}" class="performance">
            <h2 th:if="${size} == 0">No existen Desempeños</h2>
            <div>
              <h3>Identificación empleado: [[${performance.getIdentification()}]]</h3>
              <p>Identificación supervisor: [[${performance.getSupervisor().getIdentification()}]]</p>
            </div>
            <div class="calification">
                <i class="fa-solid fa-star"></i>
                <p>[[${performance.getScore()}]]</p>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
              <div th:replace="~{rendimiento/fragments :: remove-performance}"></div>
            </div>
           
        </div>
     </div>

     <div th:fragment="updatePerformance" class="updatePerformance">


        <form th:action="@{/rendimiento/guardar}" method="POST" th:object="${performance}">
            <h1 th:text="${performance.getIdentification()} != 0 and ${screen} != 'new' ? 'Modificar Rendimiento' : 'Agregar Rendimiento'"></h1>
            <input th:if="${performance.getIdentification()} == 0" type="number" min="10000000" required placeholder="Identificación" name="identification">
            
            <input th:if="${performance.getIdentification()} != 0" type="number" min="10000000" required placeholder="Identificación" th:field="*{identification}">
            <p class="errors" th:if="${#fields.errors('identification')}" th:errors="*{identification}" />
            
            
            <input type="number" min="10000000" required placeholder="Identificación del Supervisor" th:field="*{supervisor.identification}">
            <p class="errors" th:if="${#fields.errors('supervisor')}" th:errors="*{supervisor}" />
            
            <textarea name="" placeholder="Observaciones" th:field="*{observations}"></textarea>
            <p class="errors" th:if="${#fields.errors('observations')}" th:errors="*{observations}" />
            
            <textarea name="" placeholder="Logros alcanzados" th:field="*{achievedGoals}"></textarea>
            <p class="errors" th:if="${#fields.errors('achievedGoals')}" th:errors="*{achievedGoals}" />
            
            <input type="number" max="100" required placeholder="Nota" th:field="*{score}">
            <p class="errors" th:if="${#fields.errors('score')}" th:errors="*{score}" />
            <button type="submit" th:text="${performance.identification} != 0 and ${screen} != 'new' ? 'Modificar' : 'Agregar'"></button>
        </form>
     </div>
     <div class="performance-options" th:fragment="performance-options">
         <div class="add-button">
            <a th:href="@{/rendimiento/nuevo}">Agregar</a>
            <i class="fa-solid fa-plus"></i>
         </div>
     </div>

    </body>
</html>
