.cards{
    width: 80%;
    display: flex;
    gap: 3rem;
    margin: 20rem auto;
    justify-content: center;
    align-items: center;
}

input[type=number]{
    appearance: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
    background-color: #fff;
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 9px #5e68794d;
    border-radius: 20px;
    width: clamp(300px, 35%, 600px);
    border: 0.01px solid #0001;

    min-height: 28rem;
    padding: 2em 2.2em;
    transition: box-shadow, transform .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card i {
    font-size: 4rem;
}

.card p {
    text-align: center;
    font-size: 1.5rem;
}

.card h2 {
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #0003;
}



.employee, .client {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: #eee;
    width: 80%;
    min-width: 900px;
    padding: .8em 2em;
    gap: 2rem;
    cursor: pointer;
}

.employee p, .employee > h3, .client p, .client > h3 {
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.header h3, .header p {
    font-weight: bold;
}

.employee-basic-information-container , .client-basic-information-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
}
.employee-basic-information-container img, .client-basic-information-container img {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.employee-basic-information-container a, .client-basic-information-container a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}


.add-button, .delete-button, .roles-add-button, .roles-delete-button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
    border-radius: 10px;
}

.add-button, .roles-add-button {
    background-color: #149ECA;
}
.delete-button, .roles-delete-button {
    background-color: #dc5d44;
    
}

.add-button a {
    padding: .5em 1.2em;
    color:#fff;
    font-size: 1.2rem;
    text-decoration: none;
    min-width: 0;
    font-weight: bold;
}

.add-button i {
    color: #fff;
    padding: .75em 1em;
    font-weight: bold;
    font-size: 1.2rem;
}

.delete-button i, .roles-add-button i, .roles-delete-button i  {
    color: #fff;
    padding: .5em 1em;
    font-weight: bold;
    font-size: clamp(0.7rem, 0.4000rem + 0.4800vw, 1.15rem);
}

.delete-button a, .roles-add-button button, .roles-delete-button button {
    color: #fff;
    padding: .5em 2em;
    padding-right: 1em;
    font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(0.7rem, 0.4000rem + 0.4800vw, 1.15rem);
}

.employee-options {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.roles-add-button button, .roles-delete-button button {
    background: none;
    border: none;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 5rem 0;
    margin-bottom: 34.4rem;
}

.title, .performance-title {
    font-size: 3rem;
    color: #000;
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
}

.chat {
    position: fixed;
    z-index: 10000;
    right: 2%;
    border-radius: 50%;
    bottom: 20px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 9px #5e68794d;
    border: 0.01px solid #0001;
}

.chat i {
    font-size: 2rem;
    color: #000;
}

.form {
    background-color: #fff;
    box-shadow: 5px 5px 9px #5e68794d;
    border: 0.01px solid #0001;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem auto;
    border-radius: 20px;
    flex-direction: column;
    padding: 6em 2em;
    width: 50%;
    min-height: 50vh;
    gap: 2rem;
}

.form input {
    border: none;
    background-color: #f1f0f0;
    border-radius: 20px;
    padding: .5em 2em;
    outline: none;
    width: 70%;
    font-size: 1.1rem;
}

.container-password {
    width: 70%;
    background-color: #f1f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-password i {
    margin-right: 2rem;
    cursor: pointer;
}

.form h1 {
    margin-bottom: 4rem;
    font-weight: bold;
}

.form button, .updatePerformance button {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: .3em 4em;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: bold;
    background-color: #C15E37;
    color: #fff;
    transition: transform .5s ease;
}

.form button:hover {
    transform: scale(1.1);
}

.checkbox {
    min-width: 180px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.checkbox label {
    font-size: 1rem;
    font-weight: bold;
}

.checkbox input {
    width: 20px;
}

.atras {
    margin-top: 9rem;
    margin-left: 3rem;
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.atras i {
    font-size: 3.5rem
}

.atras:hover {
    color: #000;
}


.user {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
}

.userInfo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12rem auto;
    flex-direction: column;
    gap: 3rem;
}

.userInfo h1 {
    font-size: 3rem;
    font-weight: bold;
}

.userInfo img {
    width: 35%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 10px 0 25px 1px #0003;
}

.updateProfile {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: #C15E37;
    color:#fff;
    padding: .5em 3em;
    border-radius: 30px;
}

.updateProfile:hover {
    color: #fff;
    background: #dc5d44;
}


.error-login {
    color: #f00;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 14.8rem;
}


.error-status {
    font-size: 7rem;
}

.container-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 38.9rem;
    margin-top: 16rem;
    flex-direction: column;
}

.performances {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
    width: 80%;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 40rem;
}


.performance {
    background: #fff;
    box-shadow: 3px 0 5px 0 #0003;
    padding: 2em 2em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    outline: 1px solid #76767610;
    transition: all .3s ease;
    position: relative;
}

.performance a {
    text-decoration: none;
    color: #000;
    cursor:pointer;
}

.calification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0 0 5rem;
}

.calification i {
    color: #0f0;
    font-size: 3rem;
}

.calification p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0
}

.performance h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 2rem;
}

.remove-performance {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #C15E37;
    border-radius: 10px;
    font-size: 1.2rem;
    
}

.remove-performance i {
    color: #fff;
    padding: .5em .5em;
}

.performance:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #0003;
}

.roles-list {
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
    margin-bottom: 40.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.roles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr)) 2fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 6rem;
    padding: 1.5em 4em;
    box-shadow: 10px 0 25px 1px #0003;
    border-radius: 20px;
}

.roles h3 {
    justify-self: flex-start;
    font-size: 1rem;
}

.header.roles h3 {
    justify-self: center;
    font-size: 1.5rem;
}

.delete-container, .add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.price-between {
    width: 69%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.price-between form {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 3rem;
}

.price-between form input {
    border-radius: 20px;
    border: none;
    background-color: #f1f0f0;
    padding: .5em 2em;
    outline: none;
}

#container {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 0;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #container .text {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  #container #menu-wrap {
    position: relative;
    height: 25px;
    width: 25px;
  }
  
  #container #menu-wrap .dots {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  #container #menu-wrap .dots > div,
  #container #menu-wrap .dots > div:after,
  #container #menu-wrap .dots > div:before {
    height: 6px;
    width: 6px;
    background-color: #000000;
    border-radius: 50%;
    transition: 0.5s;
  }
  

  #container #menu-wrap .dots > div {
    position: relative;
  }
  
  #container #menu-wrap .dots > div:after {
    content: "";
    position: absolute;
    bottom: calc((25px / 2) - (6px / 2));
    left: 0;
  }
  
  #container #menu-wrap .dots > div:before {
    content: "";
    position: absolute;
    top: calc((25px / 2) - (6px / 2));
    left: 0;
  }
  
  #container #menu-wrap .menu {
    position: absolute;
    right: -10px;
    top: calc(-12px + 50px);
    width: 0;
    height: 0;
    background-color: #fff;
    padding: 1.5em .9em;
    box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }
  
  #container #menu-wrap .menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
  
  #container #menu-wrap .menu ul li:first-child {
    margin-top: 1.5rem;
  }
  
  #container #menu-wrap .menu ul li .link {
    text-decoration: none;
    color: #000;
    opacity: 0;
    visibility: hidden;
    font-weight: bold;
    margin-right: .5em;
  }
  

  #container #menu-wrap .menu ul li i {
    visibility: hidden;
  }

  #container #menu-wrap .toggler {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    appearance: none;
    cursor: pointer;
    z-index: 2;
  }
  
  
  #container #menu-wrap .toggler:checked + .dots > div {
    transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
      translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  }
  
  #container #menu-wrap .toggler:checked + .dots > div:after {
    transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
      translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  }
  
  #container #menu-wrap .toggler:checked + .dots > div:before {
    transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
      translateY(
        calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
      );
  }
  
  #container #menu-wrap .toggler:checked:hover + .dots > div,
  #container #menu-wrap .toggler:checked:hover + .dots > div:after,
  #container #menu-wrap .toggler:checked:hover + .dots > div:before {
    background-color: #000000;
    transition: 0.5s;
  }
  
  #container #menu-wrap .toggler:checked ~ .menu {
    opacity: 1;
    visibility: visible;
    width: 150px;
    height: 100px;
    transition: 0.5s;
    border: 0.1px solid #9c9c9c22;
  }
  
  #container #menu-wrap .toggler:checked ~ .menu ul .link,  #container #menu-wrap .toggler:checked ~ .menu ul i {
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease 0.3s;
  }

  
  #container #menu-wrap .toggler:checked ~ .menu ul .link:hover {
    color: #2980b9;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  
  #container #menu-wrap .toggler:not(:checked) ~ .menu {
    transition: 0.5s;
  }
  
  #container #menu-wrap .toggler:not(:checked) ~ .menu ul .link {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
    

.updatePerformance form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 5px 5px 9px #5e68794d;
    width: 60%;
    gap: 2rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 12.45rem;
    padding: 4em 2em;
    border-radius: 20px;
    border: 0.1px solid #9b9b9b22
}


.updatePerformance form input, .updatePerformance form textarea {
    border: none;
    border-radius: 20px;
    background-color: #f1f0f0;
    padding: .5em 1em;
    outline: none;
    width: 80%;
    resize: none;
}

.updatePerformance form button {
    margin-top: 5rem;
}



@media only screen and (max-width: 1000px) {
    .cards {
      flex-direction: column;
    }

    .form {
        width: 80%;
        min-width: 600px;
    }
}