.cards{
    width: 80%;
    display: flex;
    gap: 3rem;
    margin: 20rem auto;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 9px #5e68794d;
    border-radius: 20px;
    width: clamp(300px, 35%, 600px);
    border: 0.01px solid #0001;

    min-height: 28rem;
    padding: 2em 2.2em;
    transition: box-shadow, transform .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card i {
    font-size: 4rem;
}

.card p {
    text-align: center;
    font-size: 1.5rem;
}

.card h2 {
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px #0003;
}



.employee, .client {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: #eee;
    width: 80%;
    min-width: 900px;
    padding: .8em 2em;
    gap: 2rem;
    cursor: pointer;
}

.employee p, .employee > h3, .client p, .client > h3 {
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

.header h3, .header p {
    font-weight: bold;
}

.employee-basic-information-container , .client-basic-information-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
}
.employee-basic-information-container img, .client-basic-information-container img {
    width: 60px;
    /* min-width: 50px; */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

.employee-basic-information-container a, .client-basic-information-container a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}


.add-button, .delete-button {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10%;
}

.add-button {
    background-color: #149ECA;
}
.delete-button {
    background-color: #dc5d44;
    
}

.add-button a {
    padding: .5em .8em;
    color:#fff;
    font-size: 1.2rem;
    text-decoration: none;
    min-width: 0;
    font-weight: bold;
}

.add-button i {
    color: #fff;
    padding: .75em 1em;
    font-weight: bold;
    font-size: 1.2rem;
}

.delete-button i {
    color: #fff;
    padding: .5em 1em;
    font-weight: bold;
    font-size: clamp(0.7rem, 0.4000rem + 0.4800vw, 1.15rem);
}

.delete-button a {
    color: #fff;
    padding: .5em 1em;
    font-size: .8rem;
    text-decoration: none;
    background-color: #dc5d44;
    font-weight: bold;
    font-size: clamp(0.7rem, 0.4000rem + 0.4800vw, 1.15rem);
}

.employee-options {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}



.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 5rem 0;
    margin-bottom: 34.4rem;
}

.title {
    font-size: 3rem;
    color: #000;
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    max-height: 100vh;
}

.chat {
    position: fixed;
    z-index: 10000;
    right: 2%;
    border-radius: 50%;
    bottom: 20px;
    background-color: #fff;
    width: 80px;
    height: 80px;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 9px #5e68794d;
    border: 0.01px solid #0001;
}

.chat i {
    font-size: 2rem;
    color: #000;
}

.form {
    background-color: #fff;
    box-shadow: 5px 5px 9px #5e68794d;
    border: 0.01px solid #0001;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem auto;
    border-radius: 20px;
    flex-direction: column;
    padding: 6em 2em;
    width: 50%;
    min-height: 50vh;
    gap: 2rem;
}

.form input {
    border: none;
    background-color: #f1f0f0;
    border-radius: 20px;
    padding: .5em 2em;
    outline: none;
    width: 70%;
    font-size: 1.1rem;
}

.container-password {
    width: 70%;
    background-color: #f1f0f0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-password i {
    margin-right: 2rem;
    cursor: pointer;
}

.form h1 {
    margin-bottom: 4rem;
    font-weight: bold;
}

.form button {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: .3em 4em;
    font-size: 2rem;
    margin-top: .5rem;
    font-weight: bold;
    background-color: #C15E37;
    color: #fff;
    transition: transform .5s ease;
}

.form button:hover {
    transform: scale(1.1);
}

.checkbox {
    min-width: 180px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.checkbox label {
    font-size: 1rem;
    font-weight: bold;
}

.checkbox input {
    width: 20px;
}

.atras {
    margin-top: 9rem;
    margin-left: 3rem;
    text-decoration: none;
    display: inline-block;
    color: #000;
}

.atras i {
    font-size: 3.5rem
}

.atras:hover {
    color: #000;
}


.user {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
}

.userInfo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12rem auto;
    flex-direction: column;
    gap: 3rem;
}

.userInfo h1 {
    font-size: 3rem;
    font-weight: bold;
}

.userInfo img {
    width: 35%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 10px 0 25px 1px #0003;
}

.updateProfile {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: #C15E37;
    color:#fff;
    padding: .5em 2em;
}

.updateProfile:hover {
    color: #fff;
    background: #dc5d44;
}


.error-login {
    color: #f00;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 16.8rem;
}


@media only screen and (max-width: 1000px) {
    .cards {
      flex-direction: column;
    }

    .form {
        width: 80%;
        min-width: 600px;
    }
}