<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title lel</title>
        <meta charset="UTF-8"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

    </head>
    <body>
        <section th:fragment="Navegacion">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>   
        </section>

        <section th:fragment="Construccion" id="id" style="margin-left: 250px; margin-right: 250px;">
    <form th:action="@{/construccion/listar}" method="get">
        <div class="form-group">
            <label>Seleccione las provincias:</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="CARTAGO" id="checkboxCartago">
                <label class="form-check-label" for="checkboxCartago">CARTAGO</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="ALAJUELA" id="checkboxAlajuela">
                <label class="form-check-label" for="checkboxAlajuela">ALAJUELA</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="SAN_JOSE" id="checkboxSanJose">
                <label class="form-check-label" for="checkboxSanJose">SAN JOSE</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="LIMON" id="checkboxLimon">
                <label class="form-check-label" for="checkboxLimon">LIMON</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="PUNTARENAS" id="checkboxPuntarenas">
                    <label class="form-check-label" for="checkboxPuntarenas">PUNTARENAS</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="provincia" value="GUANACASTE" id="checkboxGuanacaste">
                    <label class="form-check-label" for="checkboxGuanacaste">GUANACASTE</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    <br>
        <div class="sale">
            <table class="table" style="background-color: lightseagreen">
                <thead>
                    <tr>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Imagen</th>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Descripcion</th>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Precio</th>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Fecha de publicacion</th>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Estado</th>
                        <th style="border-bottom: 2px solid gray; color: white" scope="col">Provincia</th>
                    </tr>
                </thead>           
                <tbody>
                    <tr th:each="construccion : ${salesPage.content}" style="background-color: lightgray">
                        <td style="text-align: left;">
                            <a th:href="@{/construccion/perfil/{id}(id=${construccion.id})}">
                                <img th:src="${construccion.photo}" alt="Imagen de construccion" style="max-width: 250px; max-height: 250px;">
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a th:href="@{/ventas/perfil/{id}(id=${venta.id})}" th:text="${venta.description}"></a>
                        </td>
                        <td style="text-align: center;" th:text="${construccion.price}"></td>
                        <td style="text-align: center;" th:text="${construccion.date}"></td>
                        <td style="text-align: center;" th:text="${construccion.state}"></td>
                        <td style="text-align: center;" th:text="${construccion.province}"></td>
                    </tr>
                </tbody>
            </table>
        </div>    
        </section>
        <section th:fragment="Actual">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:class="${salesPage.first ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=0)}">Anterior</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, salesPage.totalPages - 1)}" class="page-item" th:class="${salesPage.number == page ? 'active' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=${page})}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${salesPage.last ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=${salesPage.totalPages - 1})}">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </section>

     



    </body>
</html>
