<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

    </head>
    <body>
        <section th:fragment="Navegacion">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>   
        </section>
    <br>
    <section th:fragment="construccion" id="id" style="margin-left: 250px; margin-right: 250px;">
        <div class="construction">
            <table class="table" style="background-color: lightseagreen">
                <thead>
                    <tr>
                        <th style="border-bottom: 2px solid gray; color: white; text-align: center;" scope="col">Descripcion</th>
                        <th style="border-bottom: 2px solid gray; color: white; text-align: center;" scope="col">Inversión Inicial</th>
                        <th style="border-bottom: 2px solid gray; color: white; text-align: center;" scope="col">Fecha de finalización</th>
                        <th style="border-bottom: 2px solid gray; color: white; text-align: center;" scope="col">Ubicación</th>
                        <th style="border-bottom: 2px solid gray; color: white; text-align: center;" scope="col">Cantidad de trabajadores</th>
                    </tr>
                </thead>           
                <tbody>
                    <tr th:each="construction : ${construccionPage.content}" style="background-color: lightgray">
                        <td style="text-align: center;" th:text="${construction.description}"></td>
                        <td style="text-align: center;" th:text="${construction.initialInvestment}"></td>
                        <td style="text-align: center;" th:text="${construction.expectedFinish}"></td>
                        <td style="text-align: center;" th:text="${construction.location}"></td>
                        <td style="text-align: center;" th:text="${construction.amountWorkers}"></td>
                    </tr>
                </tbody>
            </table>
        </div>    
        </section>
        <section style=" margin-bottom: 13.7rem;" th:fragment="actual">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:class="${construccionPage.first ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=0)}">Anterior</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, construccionPage.totalPages - 1)}" class="page-item" th:class="${construccionPage.number == page ? 'active' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=${page})}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${construccionPage.last ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/construccion/listar'}(page=${construccionPage.totalPages - 1})}">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </section>

        <div th:fragment="price-between" class="price-between">
            <form th:action="@{/construccion/listar}" method="GET">
                <input th:name="initPrice" type="number" placeholder="Precio inicial">
                <input th:name="finishPrice" type="number" placeholder="Precio final">
                <button class="btn btn-primary">Buscar</button>
            </form>
        </div>



    </body>
</html>
