<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/fragments :: head}"></head>
    <body>
        <header th:replace="~{layout/fragments :: header}"></header>
        <div th:replace="~{layout/fragments :: chat}"></div>
        <div th:replace="~{layout/fragments :: carousel}"></div>
        <div th:replace="~{layout/fragments :: cards}"></div>
        <footer th:replace="~{layout/fragments :: footer}"></footer>
    </body>
</html>