<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>TODO supply a title lel</title>
        <meta charset="UTF-8"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

    </head>
    <body>
        <section th:fragment="Navegacion">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>   
        </section>

        <section th:fragment="Filtro" id="id" style="margin-top:80px">
            <form th:action="@{/ventas/listar}" method="get">
                <div class="form-group">
                    <label>Seleccione las provincias:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="CARTAGO" id="checkboxCartago">
                            <label class="form-check-label" for="checkboxCartago">CARTAGO</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="ALAJUELA" id="checkboxAlajuela">
                            <label class="form-check-label" for="checkboxAlajuela">ALAJUELA</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="SAN_JOSE" id="checkboxSanJose">
                            <label class="form-check-label" for="checkboxSanJose">SAN JOSE</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="LIMON" id="checkboxLimon">
                            <label class="form-check-label" for="checkboxLimon">LIMON</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="PUNTARENAS" id="checkboxPuntarenas">
                            <label class="form-check-label" for="checkboxPuntarenas">PUNTARENAS</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="provincia" value="GUANACASTE" id="checkboxGuanacaste">
                            <label class="form-check-label" for="checkboxGuanacaste">GUANACASTE</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </section>

        <section th:fragment="Venta" id="id" style="margin-left: 0px; margin-right: 100px;">
            
            <br>
                <div class="sale">
                    <table class="table" style="background-color: lightseagreen; margin-left: 0px; margin-right: 100px;" >
                        <thead>
                            <tr>
                                <th style="width: 150px; border-bottom: 2px solid gray; color: white" scope="col">Imagen</th>
                                <th style="border-bottom: 2px solid gray; color: white" scope="col">Descripcion</th>
                                <th style="border-bottom: 2px solid gray; color: white" scope="col">Precio</th>
                                <th style="border-bottom: 2px solid gray; color: white" scope="col">Fecha de publicacion</th>
                                <th style="border-bottom: 2px solid gray; color: white" scope="col">Estado</th>
                                <th style="border-bottom: 2px solid gray; color: white" scope="col">Provincia</th>
                                
                            </tr>
                        </thead>           
                        <tbody>
                            <tr th:each="venta : ${salesPage.content}" style="background-color: lightgray">
                                <td style="text-align: left;">
                                    <a th:href="@{/ventas/perfil/{id}(id=${venta.id})}">
                                        <img th:src="${venta.photo}" alt="Imagen de venta" style="max-width: 250px; max-height: 250px;">
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a th:href="@{/ventas/perfil/{id}(id=${venta.id})}" th:text="${venta.description}"></a>
                                </td>
                                <td style="text-align: center;" th:text="${venta.price}"></td>
                                <td style="text-align: center;" th:text="${venta.date}"></td>
                                <td style="text-align: center;" th:text="${venta.state}"></td>
                                <td style="text-align: center;" th:text="${venta.province}"></td>


                                <td style="text-align: center;">
                                    <a th:href="@{/ventas/actualizar/{id}(id=${venta.id})}" class="btn btn-warning">
                                        Editar
                                    </a>
                                </td>

                                <td style="text-align: center;">
                                    <form th:action="@{/ventas/eliminar/{id}(id=${venta.id})}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta venta?')" >
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <button type="submit" class="btn btn-danger">
                                            Eliminar
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>    
        </section>
        <section th:fragment="Actual">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:class="${salesPage.first ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/ventas/listar'}(page=0)}">Anterior</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, salesPage.totalPages - 1)}" class="page-item" th:class="${salesPage.number == page ? 'active' : ''}">
                        <a class="page-link" th:href="@{${'/ventas/listar'}(page=${page})}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${salesPage.last ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${'/ventas/listar'}(page=${salesPage.totalPages - 1})}">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
    <section th:fragment="Agregar">
        <div class="mb-4 d-flex justify-content-center">
            <a th:href="@{/ventas/agregar}" class="btn btn-primary">Agregar</a>
        </div>
    </section>

    <section th:fragment="Perfil">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input type="hidden" name="id" th:field="*{id}"/>
                <input type="hidden" name="photo" th:field="*{photo}"/>
                <section th:replace="~{venta/fragmentos :: botonesEditar}"/>
                <div id=details>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Perfil</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="description">Descripcion</label>
                                            <input type="text" class="form-control" 
                                                   name="description" th:field="*{description}"
                                                   required="true">
                                        </div>
                                        <div class="mb-3">
                                            <label for="activo">Precio</label>
                                            <input class="form-check-input" 
                                                   type="checkbox" 
                                                   name="activo" 
                                                   id="activo"
                                                   th:field="*{activo}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="imagen">Ruta</label>
                                                <input class="form-control" type="file" name="imagenFile"
                                                       onchange="readURL(this);" />
                                                <img id="blah" th:src="@{${venta.photo}}" alt="your image" height="200"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/ventas/listar}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/ventas/eliminar/}+${venta.id}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>



