<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/fragments :: head}"></head>
    <body>
        <header th:replace="~{layout/fragments :: header}"></header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div th:replace="~{ventas/fragments :: Venta}"></div>
        <div th:replace="~{ventas/fragments :: Actual}"></div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer th:replace="~{layout/fragments :: footer}"></footer>
    </body>
</html>


